{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <a href="{{ path('next_query') }}" class="btn btn-default">Continue to scoring</a>
    </div>

    <div class="row">
        <h1>Instructions</h1>

        <h3>How do I score queries?</h3>
        <p>
            You will be presented with a page containing the query at the very
            top and a list of results that could be relevant to the query.
            Tapping (or clicking) on the result will cycle the relevance
            ranking among the following options.
        </p>
        <ul>
            <li>Unrated</li>
            <li class="irrelevant">Irrelevant</li>
            <li class="maybe">Maybe Relevant</li>
            <li class="probably">Probably Relevant</li>
            <li class="relevant">Relevant</li>
        </ul>
        <p>
            Tapping once more after Relevant (green background) will bring the
            result back to Unrated. You must rate at least 80% of the results
            for a query for the results to be saved. If you aren't sure select
            'Skip this query' and you will be taken to a new query to rate.
            Skipped queries will not be shown to you again.
        </p>

        <h3>Snippets</h3>
        <p>
            Along with each potential search result there is a snippet of the
            Wikipedia article; all snippets are shown by default. Use the
            "Hide/Show all snippets" button to open or close all the snippets
            at once, or click the up (<span class="glyphicon
            glyphicon-chevron-up"></span>) or down (<span class="glyphicon
            glyphicon-chevron-down"></span>) arrow before the article name to
            hide or view a particular snippet.
        </p>

        <h3>What differentiates Relevant from Probably Relevant?</h3>
        <p>
            A result is Relevant if you would expect to find it in the top 5
            results for a query. If something is related and possibly the
            answer to the query, but not certainly, use Probably Relevant. When
            grading please keep in mind that the top of results page is limited
            in space; 10 results that are all the "best answer" to a query
            would be impossible to show. Try to pick the best results as
            Relevant, and set the others to Probably Relevant. Probably
            Relevant results are ones you would expect to find in the bottom
            two thirds of the first result page.
        </p>

        <h3>Maybe Relevant?</h3>
        <p>
            The Maybe Relevant ranking is reserved for items that aren't
            completely irrelevant, but also aren't great answers to the query.
            Maybe Relevant results could show up on the results page, but
            wouldn't be particularly desirable. The main difference between
            Maybe Relevant and Irrelevant is that Irrelevant queries have no
            relationship to the query.
        </p>

        <h3>What about disambiguation pages, lists, talk pages, categories, etc.?</h3>
        <p>
            We are not sure yet if these are good pages to appear in results or
            not. Use your best judgement as to the quality of a result with
            respect to the given query and we will compare inter-judge rankings
            to try to determine what people expect.
        </p>
    </div>

    <div class="row">
        <a href="{{ path('next_query') }}" class="btn btn-default">Continue to scoring</a>
    </div>

{% endblock %}
