{% extends 'layout.twig' %}

{% block head %}
    {{ parent() }}
    <link href="/css/scoring.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="row">
        <a href="{{ path('random_query') }}" class="btn btn-default">Continue to scoring</a>
    </div>

    <div class="row">
        <h1>Instructions</h1>

        <h3>How do I score queries?</h3>
        <p>
            You will be presented with a page containing the query at the very top and a
            list of results that could be relevant to the query. By tapping or clicking on
            the result your relevance ranking will cycle from None to <span
            class="irrelevant"> Irrelevant</span>, <span class="maybe">Maybe
            Relevant</span>, <span class="probably"> Probably Relevant</span>, and <span
            class="relevant">Relevant</span>. Tapping once more after <span
            class="relevant">green</span> will bring the result back to unrated. You must
            rate at least 80% of the results to a query for the results to be saved. If you
            aren't sure select 'Skip this query' and you will be taken to a new query to
            rate. Skipped queries will not be shown to you again.
        </p>

        <h3>Snippets</h3>
        <p>
            Along with each potential search result there is a snippet available. Clicking
            on the down arrow (<span class="glyphicon glyphicon-chevron-down"></span>) will
            expand the snippet for a given result.
        </p>

        <h3>What differentiates Relevant from Probably Relevant?</h3>
        <p>
            A result is relevant if you would expect to find it in the top 5 results to a
            query. If something is related and possibly the answer to the query, but not
            certainly, use probably relevant. When grading please keep in mind that the top
            of results page is limited in space; having 10 results that are all the best
            answer to a query is impossible to show. Try and pick the best results as
            relevant, and set the others to probably relevant. Probably relevant results
            are ones you would expect to find in the bottom two thirds of the first result
            page.
        </p>

        <h3>Maybe Relevant?</h3>
        <p>
            The maybe relevant ranking is reserved for items that aren't completely
            irrelevant, but also aren't great answers to the query.  Maybe relevant results
            could show up on the results page, but wouldn't be particularly desirable. The
            main difference between maybe relevant and irrelevant is that irrelevant
            queries have no relationship to the query.
        </p>

        <h3>What about disambiguation pages, lists, talk pages, categories, etc.?</h3>
        <p>
            We are not sure yet if these are good results or not. Use your best judgement
            as to the quality of a result with respect to the given query and we will
            compare inter-judge rankings to try and decide what people expect here.
        </p>
    </div>

    <div class="row">
        <a href="{{ path('random_query') }}" class="btn btn-default">Continue to scoring</a>
    </div>

{% endblock %}
