{% extends 'layout.twig' %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .navbar {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content_container %}
    <div class="jumbotron">
        <div class="container">
            <h1>Search needs your help!</h1>
            <p>
                To make changes to search at a quicker pace, the Search team
                needs to be able to test changes before making them available
                on-wiki. Discernatron is a tool that allows participants to
                judge the relevance of search results. When evaluating
                potential changes to the Wikimedia search the team will use
                these judgements to help rate potential changes by how much
                better they are at putting the most relevant articles at the
                top of the search results page.
            </p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('oauth_authorize') }}" role="button">Get Started &raquo;</a> (login with your Wikimedia account)</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3>What queries am I rating?</h3>
            <p>
                Every month the <a
                href="https://www.mediawiki.org/wiki/Wikimedia_Discovery">Discovery
                department</a> loads approximately 500 randomly selected search
                queries from the English Wikipedia into Discernatron for
                grading. These queries represent around 0.0001% of all full
                text searches on English Wikipedia. This sample is incredibly
                small, but still represents a wide swath of the types of
                queries received. Before being released to Discernatron, WMF
                engineers review the sampled set of queries and remove anything
                that could be considered personally identifiable information
                (PII). Initially only queries for English Wikipedia are being
                used but Discernatron will expand to other languages—such as
                French, Spanish and Russian—as time goes by.
            </p>
            <h3>So someone is looking at all my searches?</h3>
            <p>
                No. When reviewing queries there is no additional meta data,
                such as user name, location, or IP address. Additionally due to
                the sample size it is very unlikely that the sample contains
                more than one query from any single user. See Discovery's <a
                href="https://meta.wikimedia.org/wiki/Discovery/Data_access_guidelines">Data
                access guidelines</a> for more information on how the
                department manages user data.
            </p>
            <h3>What kinds of queries are removed?</h3>
            <p>
                Anything potentially personally identifiable. This means any
                kind of phone number, serial number, or non-notable address. We
                remove searches for specific URLs, and names of non-notable
                companies and non-notable people (those that don't have wiki
                articles and aren't mentioned prominently in any other
                article). For the benefit of participants most non-English
                searches are also removed, as it would be hard to judge the
                quality of results. Finally "junk" queries, such as
                "Ikohoyugc", are removed. (These junk queries make up one to
                two percent of total query volume.)
            </p>
        </div>
    </div>
{% endblock %}
