{% extends 'layout.twig' %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .navbar {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content_container %}
    <div class="jumbotron">
        <div class="container">
            <h1>Help make search better!</h1>
            <p>@TODO say something about how it makes anything better</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('oauth_authorize') }}" role="button">Login via {{ domain }} &raquo;</a></p>
        </div>
    </div>
{% endblock %}
