html {
    height: 100%;
}

body {
    font-family:sans-serif;
    background-color: #dadada;
    color: #2F3133;
    height: 100%;
    background-image: radial-gradient(#54a56d, #37844f);
}

/* When using a hidden input field chromes Back/Forward
 * cache doesn't remember changed values. So instead we
 * use a text input and don't display it to the user
 */
input.result-score {
    display: none;
}

.score-query {
    margin-bottom: 1em;
}

.stack-position {
    /* slightly flexible
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    */
    position: relative;
    top: -250px;
    left: 180px;
    width: 740px;
    margin: 0 auto;
}

em {
    font-weight: bold;
}

.query-form-container {
    float: left;
    padding-right: 1em;
    margin-bottom: 6px;
}

.score-query button.switch-ui {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
    margin-left: 5px;
}


.score-query input.submit-scores {
    width: 100%;
    margin-top: 1em;
}

.info {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 250px;
    left: 50%;
    position: relative;
    width: 385px;
    padding: 12px 12px 0 12px;
    margin-left: 18px;
    color: white;
    z-index: 99;
}

.query {
    text-align: center;
    border-bottom: 1px solid;
    font-size: 18px;
    display: block;
    border-top: 1px solid;
}

.query-info {
    display: block;
    width: 60%;
    float: left;
    text-align: center;
    padding-right: 10px;
}

.query-actions {
    float: left;
    width: 40%;
}

.query-actions .glyphicon {
    margin-right: 5px;
}

.query-actions .glyphicon-step-forward {
    margin-left:0;
    padding-left: 0;
}

.query-links-label {
    cursor: pointer;
}
.query-links-label:hover {
    text-decoration: underline;
}

.query-links {
    width: 100%;
    margin-bottom: 6px;
}

.query-links-content {
    margin-top: 5px;
    margin-bottom: 5px;
}

.skip-query {
    display: inline-block;
}

.skip-query .btn {
    display: inline;
    background-color: transparent;
    border: none;
    padding: 0;
}

.skip-query .btn:hover{
    text-decoration: underline;
}

.section-label {
    text-align: center;
    font-size: 12px;
    display: block;
    padding-right: 0.5em;
}

.search-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
    overflow: hidden;
    line-height:24px;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 3px;
}

.search-icon img {
    -webkit-filter: grayscale(1) contrast(2);
    -moz-filter: grayscale(1) contrast(2);
    filter:  grayscale(1) contrast(2);
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.search-icon:hover img {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.icon-ddg {
}

.icon-goog{
}

.icon-yahoo {
}

.icon-bing {
}

.deck-counter-description{
    text-align: center;
    color: white;
    margin-bottom: 16px;
    margin-top: 0px;
    clear: both;
}

.deck-counter{
    display: block;
    font-family: georgia;
    font-size: 50px;
    line-height: 53px;
    padding-bottom: 12px;
}

.card {
    width: 180px;
    height: 250px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 1.4em;
    padding: 5px;
    box-sizing: border-box;
    cursor: default;
    z-index: 2;
    border: 1px solid lightGrey;
    overflow: auto;
}

.card-deck {
    width: 176px;
    height: 246px;
    position: absolute;
    left: -200px;
    background-image: url(card-back.png );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.card-deck.empty {
    background-image: none;
}

.card.active {
    z-index: 1111 !important;
    box-shadow: 0 4px 5px 0px rgba(0,0,0,0.15);
}
.card a {
    font-size: 16px;
    COLOR: #3366CC;
    text-decoration: underline;
    display: inline-block;
    line-height: 1.3em;
}

.card p {
    margin-top: 0.5em;
}

.stack-position .stack {
    width: 180px;
    height: 250px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: 2px solid white;
}

.drop-area {
    position: absolute;
    top: 275px;
    background-color: rgba(0, 0, 0, 0.25);
    width: 180px;
    height: 250px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    z-index: 0;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.drop-area-description {
    text-align: left;
    padding: 0 10px;
    margin-top:0;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: lighter;
    letter-spacing: 0.4px;
}

.drop-area-label {
    display: block;
    font-size: 16px;
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
    padding-bottom: 3px;
    margin-bottom: 0.3em;
    transition: background 0.1s ease-out;
    border-bottom: 4px solid white;
    margin: 0em 10px 0.3em 10px;
    text-shadow: 0 1px rgba(0,0,0,0.2);
}

.stack.active-stack {
    box-shadow: 0 0px 2px 2px rgb(255, 255, 255);
}

.drop-area.irrelevant { left: -207px; }
.drop-area.irrelevant .drop-area-label{ border-color: rgb(255, 198, 198); }
.drop-area.irrelevant:hover .drop-area-label,
.drop-area.irrelevant.active .drop-area-label{ color: rgb(255, 223, 223); }
.drop-area.irrelevant:hover,
.drop-area.irrelevant.active-stack { box-shadow: 0 0px 2px 2px rgb(255, 198, 198); }

.drop-area.maybe-relevant { left: 0; }
.drop-area.maybe-relevant .drop-area-label{ border-color: rgb(255, 222, 182); }
.drop-area.maybe-relevant:hover .drop-area-label,
.drop-area.maybe-relevant.active .drop-area-label{ color: rgb(255, 222, 182); }
.drop-area.maybe-relevant:hover,
.drop-area.maybe-relevant.active-stack { box-shadow: 0 0px 2px 3px rgb(255, 222, 182); }


.drop-area.probably-relevant { left: 207px; }
.drop-area.probably-relevant .drop-area-label { border-color: rgb(249, 246, 177); }
.drop-area.probably-relevant:hover .drop-area-label,
.drop-area.probably-relevant.active .drop-area-label{ color: rgb(249, 246, 177); }
.drop-area.probably-relevant:hover,
.drop-area.probably-relevant.active-stack { box-shadow: 0 0px 2px 2px rgb(249, 246, 177); }


.drop-area.relevant { left: 414px; }
.drop-area.relevant .drop-area-label{ border-color: rgb(193, 251, 189); }
.drop-area.relevant:hover .drop-area-label,
.drop-area.relevant.active .drop-area-label{ color: rgb(193, 251, 189); }
.drop-area.relevant:hover,
.drop-area.relevant.active-stack { box-shadow: 0 0px 2px 2px rgb(193, 251, 189); }
