.result .row {
    display: flex;
    align-items: center;
}
.relevant {
    background-color: green;
    color: white;
}
.probably {
    background-color: yellow;
}
.maybe {
    background-color: orange;
}
.irrelevant {
    background-color: red;
}
.errors p {
    padding: 15px;
}
.snippet {
    padding-left: 1em;
}
@media (max-width: 768px) {
    .border-xs {
        border: 1px solid black;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .border-sm {
        border: 1px solid black;
    }
}
